<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ususarios</title>
</head>
<body>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>E-mail</th>
            <th>Fecha Creación</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>