<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Agregar un producto</h2>

    <form action="/productos/crear" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre"><br>

        <label>Precio:</label>
        <input type="number" step="0.01" name="precio"><br>

        <label>Descripción:</label>
        <textarea name="descripcion"></textarea><br>

        <label>Categoría ID:</label>
        <input type="number" name="categoria_id"><br>

        <input type="submit" value="Agregar Producto">
    </form>
    
</body>
</html>